.pure-g {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 50px;
}

.pure-u-1-2 {
    margin-top: 60px;
}

.pure-u-1-6 img {
    margin-top: 50px;
    margin-left: 70px;
    height: 85px;
    width: 85px;
}

.pure-u-1-8 img {
    margin-top: 20px;
    height: 65px;
    width: 65px;
}

body {
    width: 1920px;
}

.line {
    width: 100%;
    margin: 50px 20px 80px 20px;
    height: 10px;
    border-bottom: 1px solid black;
}


#title {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: teal;
}

#title_description {
    text-align: left;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}

#bold {
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    margin-left: 80px;
}

h4 {
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    
}

#choropleth_map {
    margin-top: 20px;
    margin-left: 100px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#bar_chart {
    margin-top: 7px;
    margin-left: 50px;
    margin-bottom: 200px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#stacked_area_chart {
    margin-top: 7px;
    margin-left: 50px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#line_graph {
    margin-top: 40px;
    margin-left: 50px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#pie_chart {
    margin-top: 7px;
    margin-left: 100px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#heat_map {
    margin-top: 7px;
    margin-left: 50px;
    height: 400px;
    width: 600px;
    font-size: 10;
}