#chloropleth_map {
    margin-top: 5px;
    margin-left: 3px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#bar_chart {
    margin-top: 7px;
    margin-left: 10px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#pie_chart {
    margin-top: 7px;
    margin-left: 50px;
    height: 400px;
    width: 600px;
    font-size: 10;
}

#radial_plot {
    margin-top: 7px;
    margin-left: 10px;
    height: 400px;
    width: 600px;
    font-size: 10;
}